.dicas-header {
    background: var(--white);
    box-shadow: var(--soft-shadow);
    color: #4F4F4F;
    width: 100%;
    height: 80px;
    background: #fff;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

.dicas-header img {
    height: 50px;
    object-fit: contain;
}

.dicas-header-items {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.MuiBadge-colorPrimary {
    background-color: #6B8BC8 !important;
}

.dicas-container-nav {
    margin-bottom: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dicas-input-group {
    background-color: #f3f3f3;
    border-radius: 4px;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.input-dicas {
    background-color: #f3f3f3;
    width: 349px;
    border: none;
    font-size: 1em;
    outline: none;
}

.dicas-input-span {
    cursor: pointer;
}

.dicas-header-items-titulo {
    padding-right: 13px;
}

.dicas-main {
    height: fit-content;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    display: flex;
    background: #F0F9FA;
}

.dicas-main-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 90% !important;
    margin: 20px 0px 0px 0px !important;
    height: fit-content;
    background: #FEFEFE;
    border-radius: 8px 8px 0px 0px;
    padding: 20px;
    /* background-image: url('../../assets/background.png');
    background-repeat: no-repeat; 
    background-size: contain;
    background-position: center;
    background-origin: content-box; */
}

.dicas-main-card {
    height: fit-content;
    width: 275px;
}

.dicas-main-card-item {
    min-height: 225px !important;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.dicas-container {
    justify-content: inherit;
}

.dicas-main-title {
    color: #4F4F4F;
    font-weight: bold !important;
}

.dicas-main-card-description {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    min-height: calc(2ch * 1.5) !important;
    line-height: 1.5 !important;
}

.dicas-main-card-description:hover {
    overflow: visible;
    white-space: normal;
}

.dicas-main-card-action {
    display: flex;
    justify-content: flex-end;
}

.dicas-main-card-btn {
    background: #53C5D0;
    border-radius: 4.92308px;
    border: none;
    text-align: center;
    padding: 10px;
    color: #F2F2F2;
    outline: unset;
    transition: 0.3s;
}

.dicas-main-card-btn:hover {
    background: rgb(65, 160, 168);
}

.page-loading {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
}

.dicas-responsive-menu { 
    display: none;
}

@media (max-width: 769px) {

    .dicas-header {
        flex-direction: column;
        height: auto;
        padding: 10px;
    }

    .dicas-header img {
        height: 60px;
    }
    
    .dicas-main-container {
        justify-content: center;
    }
    
    .dicas-container-nav { 
        flex-direction: column;
        justify-content: center;
    }
    
    .input-dicas {
        width: auto;
    }

    .dicas-input-group {
        margin-bottom: 10px;
    }
    
    .dicas-header-items {
        display: none;
    }
}